body{
  background-color: black;
}

.code {
        float: left;
        width: 50%;
        border: 1px solid black;
        background-color: black;

      }
      iframe {
        width: 49%;
        float: left;
        height: 300px;
        border: 1px solid gray;
        border-left: 0px;
        background-color: white;
      }