body{
  background-color: black;
}

      #codeEx {
        float: left;
        width: 100%;
        height: 90%;
        border: 1px solid black;
        background-color: black;
        padding:0px;


      }
      #previewEx {
        width: 100%;
        float: left;
        height: 80vh;
        border: 1px solid gray;
        margin-left: 0px;
        background-color: white;
      }