body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #ecf0f1;
    height: 100%;
}

header {
    background-color: #252121;
    height: 100px;
}

nav {
    display: inline-block;
    float: right;
    padding-top: 10px;
}

nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
}

nav li a {
    text-decoration: none;
    color: white;
}

i {
    color: white;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: white;
    padding-top: 53px;
}

.intro-text {
    display: block;
    width: 70%;
    font-size: 38px;
    text-align: center;
    margin: 0 auto;
    padding: 75px;
}

#collection {
    background-color: #ecf0f1;
    height: 515px;
}

#row {
    width: 80%;
    margin: 0 auto;
}

.inner-box {
    background-color: #2c3e50;
    display: inline-block;
    height: 200px;
    width: 250px;
    margin: 50px 143px;
    border: 10px solid gray;
}

#intro {
    background-color: #95a5a6;
    color: black;
    height: 300px;
    display: block;
    padding: 0;
    margin: -20px 0px;
    position: relative;
}

.try-now-btn {
    height: 65px;
    width: 180px;
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    font-size: 30px;
    /*border-style: solid;*/
    background-color: #3498db;
}
.try-now-btn a{
  text-decoration: none;
  color: white;
  margin: 9%;
  display: inline-block;
}

#drop-down {
    display: none;
}

span {
    display: inline-block;
}

.left {
    float: left;
}

.right {
    margin: 0;
    float: right;
}

.right i.fa {
    font-size: 35px;
    padding: 30px;
}

#search {
    padding: 0;
}

#instructions {
  display: inline-block;
  float: left;
  width: 50%;
  margin: 0;
  /*height: 376px;*/
}

#code {
    display: inline-block;
    float: left;
    width: 50%;
    margin: 0;
}

#livecode {
  display: inline-block;
  margin: 0;
  float: left;
  clear: left;
  width: 50%;
}

.slideshow {
  height: 474px;
margin-top: -48px;
}

iframe#preview {
  width: 50%;
  height: 710px;
  background-color: white;
  border: 0;
  margin-top: -476px;
}

.button-holder {
  display: inline-block;
  width: 50%;
  float: right;
  height: 66px;
  background-color: #ecf0f1;
  margin-top: -3px;
}

button.editor-button {
    height: 65px;
    width: 284px;
    padding: 0;
    border-style: solid;
    border: 0;
    background-color: #2c3e50;
    color: white;
    font-size: 30px;
    margin: 0 7%;
}
